.contenedor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1%;
    margin-top: 2%;
    box-shadow: 5px 5px 0px 0px rgba(224, 224, 224, 1);
}

.titulo{
    text-align: center;
}